<!--ABOUT-->
<div id="about">
  <div class="container"> 

    <!--Parents-->
    <div id="parents">
      <h3>The Happy Couple's Parents</h3>
      <div class="heart content-style"></div>

      <div class="row">
        <div class="col-md-2">
          <div class="parents">
            <a href="#" class="overlay hexagon"></a>
            <div class="base">
              <img src="images/her-mother.jpg" alt="" />
            </div>
            <div class="parents-text-women"><h4>Ana Jones</h4></div>
          </div>
        </div><!--end col-md-2-->
        <div class="col-md-2">
          <div class="parents">
            <a href="#" class="overlay hexagon"></a>
            <div class="base">
              <img src="images/her-father.jpg" alt="" />
            </div>
            <div class="parents-text-men"><h4>Paul Jones</h4></div>
          </div>
        </div><!--end col-md-2-->
        <div class="col-md-4">
          <div class="parents-text"><h2>&laquo; &nbsp; hers &nbsp; &  &nbsp; his &nbsp; &raquo; </h2></div>
        </div><!--end col-md-4-->
        <div class="col-md-2">
          <div class="parents">
            <a href="#" class="overlay hexagon"></a>
            <div class="base">
              <img src="images/his-mother.jpg" alt="" />
            </div>
            <div class="parents-text-women"><h4>Lara Smith</h4></div>
          </div>
        </div><!--end col-md-2-->
        <div class="col-md-2">
          <div class="parents">
            <a href="#" class="overlay hexagon"></a>
            <div class="base">
              <img src="images/his-father.jpg" alt="" />
            </div>
            <div class="parents-text-men"><h4>George Smith</h4></div>
          </div>
        </div><!--end col-md-2-->
      </div><!-- end row -->
    </div><!--end #parents-->


    <!--Godfathers-->
    <div id="godfathers">
      <h3>The Godfathers</h3>
      <div class="heart content-style"></div>

      <div class="row">
        <div class="col-md-4">
          <div class="godfathers-text-women"><h4>Tina Snow</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempor lectus eu congue fringilla. Vivamus malesuada dictum lorem.</p>
          </div>
        </div><!--end col-md-4-->
        <div class="col-md-2">
          <div class="godfathers">
            <div class="overlay hexagon"></div>
            <div class="godfathers-img"><img src="images/godmother.jpg" alt="" /></div>
          </div>
        </div><!--end col-md-2-->
        <div class="col-md-2">
          <div class="godfathers">
            <div class="overlay hexagon"></div>
            <div class="godfathers-img"><img src="images/godfather.jpg" alt="" /></div>
          </div>
        </div><!--end col-md-2-->
        <div class="col-md-4">
          <div class="godfathers-text-men"><h4>Derek Snow</h4>
            <p>Vivamus in sodales lorem. Nunc vel dolor at diam viverra dignissim. Cras a est eget nulla porttitor hendrerit. Nunc eget sapien.</p>
          </div>
        </div><!--end col-md-4-->
      </div><!--end row-->
    </div><!--end #godfathers-->


    <div id="maids">
      <h3>Bridesmaids & Groomsmen</h3>
      <div class="heart content-style"></div>
      <div class="row">
        <div class="col-md-3">
          <div class="bridesmaid">
            <img src="images/bridesmaid.png" alt="bridesmaids" />
          </div>
        </div><!--end col-md-3-->
        <div class="col-md-3 maids">
          <div class="bridesmaids">
            <h4>Jenny Doe</h4>
            <h4>Carla Croft</h4>
            <h4>Andrea James</h4>
            <h4>Tina Mosk</h4>
            <h4>Jessie Silver</h4>
            <h4>Vivian Stone</h4>
          </div>
        </div><!--end col-md-3-->
        <div class="col-md-3 maids">
          <div class="groomsmen">
            <h4>Brian Smith</h4>
            <h4>Alex Dean</h4>
            <h4>Karl Mann</h4>
            <h4>Robert Fox</h4>
            <h4>Steve Jones</h4>
            <h4>Daryl Gold</h4>
          </div>
        </div><!--end col-md-3-->
        <div class="col-md-3">
          <div class="bestman">
            <img src="images/bestman.png" alt="bestmen" />
          </div>
        </div><!--end col-md-3-->

      </div><!--end row-->
    </div><!--end #maids-->

  </div><!-- end container-->
</div><!--end #about-->
<!--END ABOUT-->