<!--GIFT REGISTRY-->
<div id="registry">
  <div class="container">
    <div class="registry-text">
      <h2>View the Gift Registry and offer us a start in building our future together.</h2>
    </div>
    <div class="row registry"><div class="registry-logos">
      <div class="col-md-3">
        <a href="#" target="_blank"><img src="images/registry-logo1.png" alt="logo1"/></a>
      </div><!--end col-md-3-->
      <div class="col-md-3">
        <a href="#" target="_blank"><img src="images/registry-logo2.png" alt="logo2" /></a>
      </div><!--end col-md-3-->
      <div class="col-md-3">
        <a href="#" target="_blank"><img src="images/registry-logo3.png" alt="logo3" /></a>
      </div><!--end col-md-3-->
      <div class="col-md-3">
        <a href="#" target="_blank"><img src="images/registry-logo4.png" alt="logo4" /></a>
      </div><!--end col-md-3-->
    </div></div><!--end row-->
    <div class="row"><div class="registry-logos">
      <div class="col-md-3">
      </div><!--end col-md-3-->
      <div class="col-md-3">
        <a href="#" target="_blank"><img src="images/registry-logo5.png" alt="logo5" /></a>
      </div><!--end col-md-3-->
      <div class="col-md-3">
        <a href="#" target="_blank"><img src="images/registry-logo6.png" alt="logo6" /></a>
      </div><!--end col-md-3-->
      <div class="col-md-3">
      </div><!--end col-md-3-->
    </div></div><!--end row-->
  </div><!--end container-->
</div><!--end #registry-->
<!--END GIFT REGISTRY-->