<!--HEADER-->
<div id="home">
  <ul id="cbp-bislideshow" class="cbp-bislideshow">
    <li><img src="images/1.jpg" alt="image01"/></li>
    <li><img src="images/2.jpg" alt="image02"/></li>
    <li><img src="images/3.jpg" alt="image03"/></li>
  </ul>
  <div class="container">
    <div class="header animated tada">
      <h1>Jason & Sarah</h1>
      <h4>ARE GETTING MARRIED</h4>
      <hr />
      <h4>Sunday, 24th of May 2015 at “La Pirati”, Vama Veche</h4>
      <div class="header-button">
        <a href="#guestbook">CELEBRATE WITH US!</a>
      </div>
    </div>
  </div>
</div><!--end #home-->
<!--END HEADER-->