<!--NAVIGATION (menu left)-->
<div class="container">
  <div class="header-quote">“Happily ever after is not a fairy tale. It’s a choice.”</div>
  <ul id="gn-menu" class="gn-menu-main">
    <li class="gn-trigger">
      <div class="trigger"><a class="gn-icon gn-icon-menu"><span>Menu</span></a></div>
      <nav class="gn-menu-wrapper">
        <div class="gn-scroller">
          <ul class="gn-menu">
            <li><a href="#home" class="gn-icon fa-heart">Home</a></li>
            <li><a href="#story" class="gn-icon fa-comment">The Story</a></li>
            <li><a href="#about" class="gn-icon fa-users">Special Guests</a></li>
            <li>
              <ul class="gn-submenu">
                <li><a href="#parents" class="gn-icon fa-chevron-right">Parents</a></li>
                <li><a href="#godfathers" class="gn-icon fa-chevron-right">Godfathers</a></li>
                <li><a href="#maids" class="gn-icon fa-chevron-right">Bridesmaids & Groomsmen</a></li>
              </ul>
            </li>
            <li><a href="#events" class="gn-icon fa-glass">Events</a></li>
            <li>
              <ul class="gn-submenu">
                <li><a href="#ceremony" class="gn-icon fa-chevron-right">Wedding Ceremony</a></li>
                <li><a href="#party" class="gn-icon fa-chevron-right">Wedding Party</a></li>
              </ul>
            </li>
            <li><a href="#registry" class="gn-icon fa-gift">Gift Registry</a></li>
            <li><a href="#album" class="gn-icon fa-camera">Photo Album</a></li>
            <li><a href="#rsvp" class="gn-icon fa-book">RSVP</a></li>
          </ul>
        </div><!--end gn-scroller-->
      </nav>
    </li>
    <li class="back"><a class="gn-icon fa-angle-double-up" href="#top"></a></li>
  </ul>
</div><!--end container-->
<section class="ss-style-bottom"></section>
<!--END NAVIGATION (menu left)-->