<!--STORY-->
<div id="story">
  <div class="story-content">
    <div class="container">
      <h3>Him & Her. Their Happy Story!</h3>
      <div class="heart content-style"></div>

      <div class="row">
        <div class="col-md-3">
          <div class="shape">
            <a href="#" class="overlay hexagon"></a>
            <div class="base">
              <img src="images/her.jpg" alt="" />
            </div>
          </div>
          <h4 class="bride-name">Sarah Jones</h4>
          <h3 class="bride-description">Bride</h3>
          <div class="social">
            <a href="#"><i class="fa-facebook"></i></a>
            <a href="#"><i class="fa-twitter"></i></a>
          </div>
        </div><!--end col-md-3-->
        <div class="col-md-6">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pharetra diam ut lorem fringilla, et pellentesque tortor suscipit. Integer cursus posuere libero porta molestie. Integer vitae sem dui. Quisque aliquet porta purus, non dapibus nisi tempor adipiscing. Pellentesque habitant morbi tristique senectus et netus et malesuada est dui vel congue turpis venenatis in. Aliquam malesuada sapien sit amet nunc bibendum pellentesque. Mauris molestie condimentum nulla. Integer et lacus massa. Aliquam adipiscing congue ante non accumsan. Donec cursus fringilla facilisis.</p>

          <p>Vivamus fringilla euismod risus, et pretium odio aliquet id. Duis at posuere urna. Fusce sit amet iaculis nibh. Maecenas vitae quam mi. Vivamus viverra, lorem vitae placerat ultricies, nisi massa pretium tortor, eget malesuada ligula arcu id leo. Pellentesque dapibus justo enim, sed molestie odio ultricies ac. Aliquam tempor augue nulla, at vestibulum nisi hendrerit vel. Mauris rutrum est at massa blandit fermentum. Vivamus velit libero, dignissim in tincidunt eu, posuere vitae justo.</p>

          <p>Maecenas ultricies tincidunt felis non vulputate. Phasellus sit amet scelerisque tellus. Nulla lacinia et lorem quis molestie. Vestibulum at lectus nec sem accumsan laoreet vel id nisi. Nulla sit amet hendrerit nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>

          <p>. . . </p>
        </div><!--end-col-md-6-->
        <div class="col-md-3">
          <div class="shape">
            <a href="#" class="overlay hexagon"></a>
            <div class="base">
              <img src="images/him.jpg" alt="" />
            </div>
          </div>
          <h4 class="groom-name">Jason Smith</h4>
          <h3 class="groom-description">Groom</h3>
          <div class="social">
            <a href="#"><i class="fa-facebook"></i></a>
            <a href="#"><i class="fa-twitter"></i></a>
          </div>
        </div><!--end col-md-3-->
      </div><!--end row-->

    </div><!--end container-->
  </div><!--end story content-->
</div><!--end #story-->
<!--END STORY-->