<!--TIMER-->
<div id="timer">
  <div class="container"> 
    <div id="countdown-bg">
      <ul id="countdown">
        <li> <span class="days">00</span>
          <div class="timeRefDays">days</div>
        </li>
        <li> <span class="hours">00</span>
          <div class="timeRefHours">hours</div>
        </li>
        <li> <span class="minutes">00</span>
          <div class="timeRefMinutes">minutes</div>
        </li>
        <li> <span class="seconds">00</span>
          <div class="timeRefSeconds">seconds</div>
        </li>
      </ul>
    </div>
    <div class="timer-text"><h2>till the happy event!</h2></div>
  </div><!--end container-->
</div><!--end #timer-->
<!--END TIMER-->