<!--WEDDING-->
<div id="wedding">
  <div class="container">

    <div id="ceremony">
      <h3>The Wedding Ceremony</h3>
      <div class="heart content-style"></div>

      <div class="row">
        <div class="col-md-4">
          <div class="ceremony-data">
            <h4>Date:</h4> <p>24th of May 2015</p>
          </div>
        </div><!--end col-md-4-->
        <div class="col-md-4">
          <div class="ceremony-data">
            <h4>Time:</h4> <p>4:00 in the afternoon</p>
          </div>
        </div><!--end col-md-4-->
        <div class="col-md-4">
          <div class="ceremony-data">
            <h4>Location:</h4> <p>Church "St. Patrick", Vama Veche</p>
          </div>
        </div><!--end col-md-4-->
      </div><!--end row-->

      <div class="row">
        <div class="col-md-6">
          <div class="ceremony-text">
            <p>Cursus risus, incidunt felis condimentum eget. Curabitur convallis ultricies tristique. Vivamus in sodales lorem. Nunc vel dolor at diam viverra dignissim. Cras a est eget nulla porttitor hendrerit. Nunc eget sapien hendrerit, lobortis dolor mattis, pretium tellus. Mauris ultricies aliquet leo bibendum elementum. Fusce et auctor ipsum. Nunc nec consequat sapien. Nunc imperdiet turpis justo, vel viverra velit sollicitudin a. Morbi non sapien sit amet orci eleifend. Praesent porta, justo quis blandit iaculis, nibh sapien volutpat justo, non fringilla mi tellus at nisl. Nullam eleifend vestibulum iaculis. Nullam velit urna, dapibus sed varius sit amet, venenatis sed ligula. Nam vulputate mi ut lorem lobortis, ac elementum risus dictum. Maecenas fermentum ornare ante, vel congue turpis venenatis in. Quisque quis enim sagittis, commodo sapien vel, interdum nunc. Vivamus nec ultrices risus. Vestibulum congue, diam id volutpat consectetur, dui ligula tincidunt nisi.</p>
          </div>
        </div><!--end col-md-6-->
        <div class="col-md-6">
          <!-- Slideshow -->
          <div class="rslides_container">
            <ul class="rslides" id="slider">
              <li><img src="images/ceremony1.jpg" alt=""></li>
              <li><img src="images/ceremony2.jpg" alt=""></li>
              <li><img src="images/ceremony3.jpg" alt=""></li>
            </ul>
          </div>
        </div><!--end col-md-6-->
      </div><!--end row-->  
    </div><!--end #ceremony-->


    <div id="party">
      <h3>The Wedding Party</h3>
      <div class="heart content-style"></div>

      <div class="row">
        <div class="col-md-4">
          <div class="party-data">
            <h4>Date:</h4> <p>24th of May 2015</p>
          </div>
        </div><!--end col-md-4-->
        <div class="col-md-4">
          <div class="party-data">
            <h4>Time:</h4> <p>7:00 in the evening</p>
          </div>
        </div><!--end col-md-4-->
        <div class="col-md-4">
          <div class="party-data">
            <h4>Location:</h4> <p>Restaurant "La Pirati", Vama Veche</p>
          </div>
        </div><!--end col-md-4-->
      </div><!--end row-->

      <div class="row">
        <div class="party-text">
          <p>Sanitas vitae massa ligula. Donec scelerisque rutrum libero tempus posuere. Morbi tristique diam non porttitor aliquet. Morbi gravida bibendum leo, sed porta mauris laoreet in. Duis sed elit mauris. Donec mollis sapien in quam aliquam sodales. Integer mattis leo ac ante suscipit semper. Curabitur vel malesuada augue, non ultrices lacus. Vestibulum id suscipit leo, ac semper lectus. Aenean mollis neque mi, vel eleifend neque vestibulum vel. Mauris orci diam, bibendum eu lobortis.</p>
        </div>
      </div><!--end row-->

      <div class="row">
        <div id="party-carousel">
          <div class="item"><img src="images/party1.jpg" alt="Image"></div>
          <div class="item"><img src="images/party2.jpg" alt="Image"></div>
          <div class="item"><img src="images/party3.jpg" alt="Image"></div>
          <div class="item"><img src="images/party4.jpg" alt="Image"></div>
          <div class="item"><img src="images/party5.jpg" alt="Image"></div>
          <div class="item"><img src="images/party6.jpg" alt="Image"></div>
          <div class="item"><img src="images/party7.jpg" alt="Image"></div>
          <div class="item"><img src="images/party8.jpg" alt="Image"></div>
        </div>
      </div><!--end row-->

      <div class="row">
        <div class="col-md-6">
          <div class="party-text">
            <p>Utentis laoreet tellus ut nisl porta, nec lobortis leo rutrum. Phasellus varius sapien eget sapien vulputate, vitae aliquet urna commodo. Etiam euismod ipsum vel erat facilisis posuere. Phasellus iaculis felis vel facilisis pretium.</p>
            <div class="location-data">
              <h4>Restaurant "La Pirati"</h4>
              <p>Sesame Street No.69<br />
               450321, Vama Veche</p>
             </div>
           </div>
         </div><!--end col-md-6-->
         <div class="col-md-6">
          <div id="gmap">
            <div id="location"></div>
          </div>
        </div><!--end col-md-6-->
      </div><!--end row-->
    </div><!--end #party-->

  </div><!--end container-->
</div><!--end #wedding-->
<!--END WEDDING-->