<!DOCTYPE html>
<html>

<head>
  <title>Amor - HTML Wedding Template</title>
  
  <!-- The Meta --> 
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <meta name="description" content="Amor - HTML Wedding Template" />
  <meta name="keywords" content="jquery, css3, html5, animation, mobile, responsive, preview" />
  <meta name="author" content="Doriana" />
  
  <link rel="shortcut icon" href="images/favicon.ico" />
  
  {% include styles.html %}
  
  <script src="js/modernizr.min.js"></script>
  
</head>


<body id="top" data-spy="scroll">

  {{ content }}

  {% include scripts.html %}

</body>

</html>